// 尺寸
$sidebar-width: 220px; // 边栏宽度
$header-height: 60px;  // 头部高度

// 边框
$light-border-color: #e7e7eb;
$border-color:#d9dadc;

$brand-color: #00B9FF;
$brand-success: $brand-color;

$panel-default-heading-bg: #f4f5f9;

// 文字
$text-deep-light-color: #e7e7eb;
$text-light-color: #bbb;