::selection {
    background-color: rgba(251,80,59,.6);
    color: #fff;
}
::-moz-selection {
    background-color: rgba(251,80,59,.6);
    color: #fff;
}

html,
body {
    height: 100%;
}

body {
    background-color: #eee;
    color: #33383A;
    font-size: 15px;
}

h1.page-title {
    color: #FB503B;
    font-weight: 300;
    font-size: 32px;
    margin: 0 0 10px 0;
    text-align: center;
}

h3.content-title {
    color: #FB503B;
    margin-top: 0;
    margin-bottom: 20px;
}

pre[class*="language-"] {
    padding: 1em;
    margin: 10px 0 20px;
    overflow: auto;
}

p {
    line-height: 1.5;
    margin: 10px 0 20px;
}

article {
    word-wrap: break-word;
}

article img {
    max-width: 100%;
}

.login-form .form-control,
.register-form .form-control{
    font-size: 16px;
}
.form-control {
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
}

.alert-danger {
    border-width: 0;
    color: #FB503B;
    background-color: #f5f5f5;
    border-left-color: #FB503B;
    border-left-width: 3px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

.btn-primary.btn-login {
    margin-top: 30px !important;
    font-size: 16px;
    border-color: #FB503B;
    background:#fff;
    color: #FB503B;
}

.btn-primary.btn-login:hover,
.btn-primary.btn-login:focus,
.btn-primary.btn-login:active {
    background-color: #FB503B;
    color: white;
}
.btn-default.btn-login-github{
}

.content-box h1.page-title {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

h2.title-between {
    display: block;
    margin: 10px 0 10px 0;
    text-align: left;
    color: #33383A;
    font-size: 20px;
}

.trick-user {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.no-push-down {
    margin-bottom: 0 !important;
}

.nb-item .trick-card-inner {
    background: #fff url(../img/site-logo.png) center center no-repeat;

    iframe {
        background: #fff;
    }
}

.trick-user-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
}

.user-avatar {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -25px;
    width: 50px;
    border:1px solid rgba(153, 153, 153, 0.18);
    border-radius: 50%;
}

.user-line-avatar {
    display:inline-block;
    left: 0;
    border:1px solid rgba(153, 153, 153, 0.18);
    border-radius: 50%;
}

.user-line-avatar.mini {
    width:25px;
    height:25px;
    vertical-align: bottom;
}

.user-avatar-mini { vertical-align: middle; }

.trick-user h1.page-title {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.6;
}
.trick-user {
    display: block;
    position: relative;
}
.trick-user-data {
    position: relative;
    margin-left: 60px;
}

.list-group.trick-stats .list-group-item {
    border: 0;
}

.navbar-default {
    background-color: white;
    height: 100px;
}

.navbar-brand {
    padding: 25px 20px 25px 20px;

}

.navbar a, .navbar button, .navbar .icon-bar, a.tag, .btn-login {
    -webkit-transition: color, border-color, background-color .2s ease-in-out;
    -moz-transition: color, border-color, background-color .2s ease-in-out;
    -ms-transition: color, border-color, background-color .2s ease-in-out;
    -o-transition: color, border-color, background-color .2s ease-in-out;
    transition: color, border-color, background-color .2s ease-in-out;
}

.btn-primary {
    border-color: #FB503B;
    background: transparent;
    color: #FB503B;
}

.navbar-default .navbar-toggle {
    margin-top: 32px;
    margin-bottom: 32px;
    border-color: #FB503B;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
    background-color: #FB503B;
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FB503B;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-collapse {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border-top: 0;
}

.navbar-default .navbar-nav li a {
    text-align: center;
    text-transform: uppercase;
    color: #33383A;
    font-size: 14px;
    opacity: 0.6;
}

.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li.active a:hover {
    background-color: #FB503B;
    opacity: 1;
}

.navbar-default .navbar-nav li a:hover {
    opacity: 1;
    color: #33383A;
}

.trick-container {
}

.trick-card-title {
    display: block;
    color: #33383A;
    font-size: 20px;
    padding: 20px;
    min-height: 105px;
}

.trick-card-title a{
    color: #33383A;
}

.trick-card-stats, .trick-card-tags {
    width: 100%;
    border-top: #eee 1px solid;
    padding: 10px 20px;
    font-size: 13px;
}

.trick-card-stats {
    color: #777;
}

.trick-card-timeago {
    display: block;
    color: #999;
    padding-bottom: 5px;
}

.trick-card-stat-block {
    height: 20px;
    line-height: 20px;
    float: left;
    width: 33.333%;
}

.trick-card-stat-block img {
    vertical-align: top;
    margin-right: 5px;
}


.trick-card-by
{
    border: none;
    padding-top:0;
}

a.tag {
    float: left;
    display: block;
    border: #FB503B 1px solid;
    color: #FB503B;
    padding: 1px 5px;
}

a.tag + a.tag { margin-left: 5px; }

a.tag:hover {
    text-decoration: none;
    border-color: none;
    color: white;
    background-color: #FB503B;
}

.trick-card-inner, .content-box {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    background-color: #fff;
}

.trick-card-inner:hover {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.30);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.30);
    box-shadow: 0 1px 4px rgba(0,0,0,.30);
    cursor: pointer;
}
.trick-card-inner .fa {
    font-size: 14px;
    margin-right: 5px;
}
.trick-card-inner:hover .trick-card-title,
.trick-card-title a:hover,
.trick-card-inner:hover .fa {
    color: #FB503B;
    text-decoration: none;
}

.push-down {
    margin-bottom: 10px;
}

.search-box {
    background: white;
    float: left;
    border-color: transparent;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    font-size: 16px;
    padding-left: 30px;
    font-weight: normal;
    background: url(../img/icon-search.png) no-repeat 0 center #fff;
}

.search-box:focus,
.search-box:active {
    border: #FB503B 1px solid;
}

.trick-card {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 270px;
}

.content-box {
    padding: 20px;
    margin-bottom: 20px;
}
.nav.nav-pills > li {
    float: none;
}

@media (min-width: 768px) {
    .nav.nav-pills > li {
        float: left;
    }

    h1.page-title {
        display: inline-block;
        margin: 0;
    }

    .navbar-default .navbar-collapse {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
    }
    .navbar-default .navbar-nav li a {
        padding: 38px 20px;
    }

    .navbar-default .navbar-nav li.active a,
    .navbar-default .navbar-nav li.active a:hover {
        border-bottom: #FB503B 3px solid;
        padding-bottom: 37px;
        color: #33383A;
        background-color: transparent;
    }
}

.navbar-default .btn-primary {
    font-size: 14px;
    text-transform: uppercase;
    margin: 33px 0;
    background-color: transparent;
}

.navbar-default .btn-primary.dropdown-toggle {
    padding: 5px;
    line-height: 26px;
    margin-top: 28px;
    margin-bottom: 28px;
}



.navbar-default .btn-primary + .btn-primary {
    margin-left: 5px;
}

.navbar-default .btn-primary:hover {
    color: white;
    border-color: transparent;
    background-color: #FB503B;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}


#footer > .container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

#footer {
    line-height: 30px;
    margin-top:22px;
    background-color: #fff;
    -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 -1px 2px rgba(0,0,0,.1);
    box-shadow: 0 -1px 2px rgba(0,0,0,.1);

    .sns-share-component .icon{
        font-size: 18px;
        background: none;
        margin: 0 8px;
        padding:0;
        color: #888;
        -webkit-transition: background 0.2s ease-out 0s;
        -moz-transition: background 0.2s ease-out 0s;
        transition: background 0.2s ease-out 0s;

    }

    .sns-share-component .icon:hover{
      color: #444;
    }

    .about {
        text-align: right;
    }
}

@media (max-width: 1000px) {
    #footer .links, #footer .about {
        text-align:center;
    }
}

h1 { font-size:1.5em; }
h2 { font-size:1.1em; }
h3 { font-size:1.05em; }
h4 { font-size:1em; }
h5 { font-size:1em; }
h6 { font-size:1em; }

@media (max-width: 468px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
    {
        padding:0;
    }
    .trick-user-data {
        margin-left:0;
    }

    .trick-user h1.page-title {
        margin-bottom:20px;
    }

    pre code {
        font-size:12px;
    }

    .nav.nav-pills {
        text-align:center;
    }

    .nav.nav-pills>li {
        display:inline-block;
        width: 30%;
        text-align: center;
    }
}


